@charset "utf-8";


/*共通*/

.box {
  margin-top: 20px;
}

.box:first-child {
  margin-top: 0;
}

.name__size {
  font-size: 12px;
  margin-bottom: 5px;
  color: #545658;
}

.input__column {
  box-sizing: border-box;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  color: #545658;
  border-radius: 3px;
  font-size: 13px;
  height: 36px;
  padding: 5px;
  line-height: 2;
  width: 100%;
}

.input__column:focus {
  background-color: #fff;
  outline: 2px;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}

textarea {
  resize: none;
}

.error:after {
  content: "※";
  color: #dd4b39;
  font-size: 12px;
  margin-left: 3px;
}

/*フォームタイトル*/
.wrapper {
  background-color:#f2f6f7;
  padding: 32px 0;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main__content {
  box-sizing: border-box;
  background-color: #fff;
  padding: 48px 64px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(197, 195, 195);
  margin-bottom: 32px;
}

.top__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
  color: #545658;
}

.jamp__button {
  display: flex;
}

.jamp {
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  padding: 13px;
  width: 50%;
  cursor: pointer;
}

.facebook {
  background-color:#3b5999;
}

.facebook__text {
  color: #fff;
}

.facebook:hover {
  background-color:#22448b;
  transition: background-color 0.3s;
}

.google {
  background-color:#fff;
  border: 1px solid #d9d9d9;
  margin-left: 10px;
}

.google__text {
  color: #dd4b39;
}

.google:hover {
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.jump__text {
  color: #949697;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.info__text {
  display: flex;
  align-items: center;
  color:#949697;
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
}

.info__text:before {
  content: "";
  flex-grow: 1;
  border-top: 1px #ececec solid;
  margin-right: 10px;
}

.info__text:after {
  content: "";
  flex-grow: 1;
  border-top: 1px #ececec solid;
  margin-left: 10px;
} 

.name__input {
  display: flex;
}

.name {
  width: 50%;
  margin-right: 16px;
}

.name:last-child {
  margin-right: 0;
}

/*性別*/

.gender__column {
  margin-right: 10px;
}

.gender__content {
  color:#545658;
  font-size: 16px;
}

.gender__column:last-child {
  margin-right: 0;
}

input[type="radio"] {
  display: none;
}

.radio__span {
  padding-left: 20px;
  position:relative;
  padding: 3px 3px 3px 20px;
  display: inline-block;
}

input[type="radio"] + .radio__span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

input[type="radio"]:checked + .radio__span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  background-color: #01bfbd;
  border-radius: 50%;
}

/*出身*/

.origin__parent {
  width: 50%;
  position: relative;
}

.origin {
  -webkit-appearance: none;
	appearance: none;
}

.origin__parent:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 40%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.origin:focus {
  background-color: #f9f9f9;
  border-color: #d9d9d9;
  box-shadow: none;
}

/*希望コース*/

/*チェックボックス一度消す*/

.couse__check {
  display: block;
  margin-bottom: 10px;
}

.couse__check:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  display: none;
  position: relative;
  opacity:0;
  -webkit-appearance: none;
  appearance: none;
}

.cause__span{
  padding-left: 25px;
  position:relative;
  color:#545658;
  font-size: 16px;
}

/*チェックボックス*/
.cause__span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
}

/*チェックマーク*/
input[type="checkbox"]:checked + .cause__span::after{
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #01bfbd;
  border-right: 3px solid #01bfbd;
}

/*備考*/
.ramarks {
  height:  100px;
}

/*アカウント作成*/

.accont {
  background-color:#01bfbd;
  color: #fff;
  cursor: pointer;
  height: 50px;
}

.accont:hover {
  background-color: #01a9bf;
  transition: background-color 0.3s;
}

.accont:active {
  background-color: #fff;
  border-color: #ccc;
  color: #01bfbd;
  box-shadow: none;
}

/*プライバシーポリシー*/

.agree__text {
  font-size: 12px;
}

/*フッター*/

.login__area {
  text-align: center;
}

.login__text {
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 16px;
}

.linkto {
  color: #01bfbd;
}

.linkto:hover {
  color: #39dddd;
}

.under:hover {
  text-decoration: underline;
}
/*
一回目　指摘点

・ポインター修正　facebook google ○

・boder radious共通化face google ○

・border shadow inner　○

・名前　name margin属性　ラストチャイルドで指定 ○

・性別　その他　マージンライト必要なし　lastchild ○

・出身　セレクト基準で指定　タグ一つ追加必要(セレクトを囲う) ○

・希望コース　チェックボックスdisplay noneで消す　○

*/